/* header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 94px;
}

.header__menu {
  display: flex;
  column-gap: 10px;
}

.header__menu-item {
  list-style: circle;
  list-style-position: inside;
}

.header__menu-item:has(.header__menu-link--active) {
  list-style: none;
}

.header__menu-link {
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__menu-link--active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

/* Общие стили header и footer*/

.contacts {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.contacts-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/*Отсечка для общих стилей*/

.header__contacts {
  justify-self: end;
  max-width: 236px;
}

/* Секция cover */
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  overflow: hidden;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 165px 20px 0 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title-word:nth-child(1) {
  align-self: flex-start;
}

.cover__title-word:nth-child(2) {
  align-self: center;
}

.cover__title-word:nth-child(3) {
  align-self: flex-end;
}

.cover__bottom {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 50px 50px;
}

.cover__description {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

/* Секция lots */
.lots {
  margin: 180px 24px 0;
}

.lots__title {
  margin-bottom: 26px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__item {
  width: 334px;
  min-height: 596px;
}

.lots__item-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.lots__article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.lots__article--film {
  background-image: url('../images/card-lot-01.jpg');
}

.lots__article--book {
  background-image: url('../images/card-lot-02.jpg');
}

.lots__article--painting {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__item-title {
  z-index: 1;
  padding: 48px 40px 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.lots__item-description {
  z-index: 1;
  padding: 0 40px 48px;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 32px;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Секция about */
.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  margin: 120px 24px 0;
}

.about__logo {
  display: flex;
  justify-content: center;
}

.about__logo-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-right: 28px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__content {
  margin-top: 133px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__texts {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-right: 5px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
}

/* Секция footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 132px;
  padding: 40px 50px;
}

.footer__contacts {
  max-width: 260px;
  margin-top: 9px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 23px;
  list-style: none;
}

.footer__menu-link {
  color: #000;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link--active {
  text-decoration: none;
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
  column-gap: 48px;
  margin-bottom: 38px;
  list-style: none;
}

.footer__socials-icon {
  display: block;
  width: 48px;
  height: 48px;
}
